body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

  }
  

.logo{
    background: white;
    width: 500px;
    height:50px;
    padding: 20px;
    background-image: url("../images/divya-logo-01.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.navigation-bar{
    display:flex;
    background-color:white; /* Set background color */
    padding: 20px; /* Add some padding */
}
.navigation-items-right{
    padding-top: 10px;
    list-style-type: none; /* to Remove bullet points */
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 90%;
}
.navigation-items-right li{
padding: 20px;
color:teal;
font-size: 20px;
display:inline-block;/*display items horizontally*/
}


.navigation-items-right li a{
font-family: Arial, Helvetica, sans-serif;
color: teal;
text-decoration: none;
}

/* Navigation - animated hover effect */

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: teal;
    color: white;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: teal;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }





.hero-section {
    text-align: center;
    margin: 30px 0;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    font-size: 35px;
}

/* Work Items */
.work-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800
    px;
    margin: 0 auto;
}

.work-item {
    width: 445px;
    height: 555px;
    margin-bottom: 60px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#work1 {
    margin-left: 170px;
}
#work1 p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
 padding-top: 20px;
}
#work2 {
    margin-left: 60px;
}
#work2 p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}
#work3 {
    margin-left: 170px;
}
#work3 p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;

}

.skills {
    display:flex;
    margin-left:100px;
    margin-right: 500px;
}

.skills p{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    font-size: 25px;
    color: #4b4a4a;
}
.footer-menu-bar {
    margin-top: 50px;
    display:flex;
    background-color:teal; /* Set background color */
    padding: 20px; /* Add some padding */
    padding-top: 10px;
       height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
    .footer-menu-bar a{
        padding: 30px;
font-family: Arial, Helvetica, sans-serif;
color: white;
text-decoration: none;


    }